.App {
  text-align: center !important;
  margin-top: 10% !important;
}



/* Radio widget style zone */
.radio_widget_container {
  display: inline-block;
  background-color: rgba(40, 40, 40, 0.852);
  height: 24rem;
  width: 18rem;
  border-radius: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}